* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #1d2128;
  
}

hr{
    background-color: rgba(299, 299, 299, 0.2);
    border: 1px solid rgba(299, 299, 299, 0.2);
}